# ================================================================
# Basics
# ================================================================
node_modules/
database/iplocations.sql
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# ================================================================
# Go modules & binaries
# ================================================================
/vendor/
/*.test
*.out

# ================================================================
# OS junk
# ================================================================
.DS_Store
Thumbs.db

# ================================================================
# Logs & debug
# ================================================================
*.log

# ================================================================
# Env & secrets
# ================================================================
.env
.env.local
.env.*.local

# ================================================================
# IDEs & editors
# ================================================================
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# ================================================================
# Node stuff if you use React frontend in same repo
# ================================================================
node_modules/

database/iplocations.sql

node_modules/
